<!DOCTYPE html>
<html lang="{{@site.lang}}">

  <head>
      <meta http-equiv="refresh" content = "0;url=https://shorttech.de/">

      {{ghost_head}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>